h1{
    color: blue;
    font-family: serif;
    font-weight: 3px;
}

p {
    color: light-blue;
    text-align: left;
    font-style: oblique;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50px;
  width: 50px;
}
